header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(37,232,128) !important;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left img {
    width: 160px !important;
    height: 70px !important;
    margin-right: 10px;
  }
  
  .company-name {
    font-weight: bold;
    font-size: 20px;
  }
  
  .header-middle ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header-middle li {
    margin-right: 10px;
  }
  
  .header-middle li a {
    text-decoration: none;
    color: #333;
    font-size: 20px !important;
    font-weight: bold !important;
    
  }
  
  .header-middle li a:hover {
    color: #000;
  }
  
  .header-right .username {
    font-size: 20px !important;
    font-weight: bold !important;
    padding-right: 20px;
  }