.home_main
{
    overflow-x: hidden;
}

.farming-video{
    width: 500px;
}

.card-align{
    align-self: center;
}

.card-width{
    width: 75%;
}

.card-width > .card{
    box-shadow: 0 2.125rem 1.25rem rgba(0, 0, 0, 0.095) !important;
    background-color: #40b93c;
    border: none;
}

.customCard{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.095) !important;
    background-color: #40b93c;
    border: none;
}

h4, h2{
    font-weight: 1000;
}

.carousel-images {
  width: 99%;
  height: 250px;
  object-fit: cover;
}

.sections{
    margin: 100px 10px !important;
}

.fade-left {
    opacity: 0;
    animation: fadeLeftAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeLeftAnimation {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fade-right {
    opacity: 0;
    animation: fadeRightAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeRightAnimation {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }  

  .bb{
    background-color: #40b93c;
    margin: 0 !important;
  }

  /* .priceModel{
    height: 400px;
  } */

  .card-no-border{
    border: none;
  }