.home_main
{
    overflow-x: hidden;
}

.farming-video{
    width: 450px;
}

.fade-left {
    opacity: 0;
    animation: fadeLeftAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeLeftAnimation {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  