.home_main
{
    overflow-x: hidden;
}

.farming-video{
    width: 450px;
}

.caraousel-images{
    height: 250px;
    width: 4509x;
}

.fade-left {
    opacity: 0;
    animation: fadeLeftAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeLeftAnimation {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fade-right {
    opacity: 0;
    animation: fadeRightAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeRightAnimation {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }  

  .bb{
    background-color: #32CD32;
  }

  .custom-shape-divider-top-1687254410 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 107px;
}

.custom-shape-divider-top-1687254410 .shape-fill {
    fill: #25E880;
}