body {
  margin: 0;
  padding: 0;
}

.mainBody {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 100vh;
  background-image: url("./images/TreeBackground.jpg");
  background-size: cover;
}

.logo-container {
  text-align: center;
  margin: 3rem;
}

.logo-container img {
  max-width: 150px;
  height: auto;
  background-color: rgb(247, 244, 244, 0.9);
  border-radius: 100%;
}

.greeting{
  color: white;
  padding: 0.5rem 1rem;
  text-shadow: 0 0 0.7rem black;
  margin: 2rem;
  background-color: rgba(128, 128, 128, 0.5);
}
.centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide-container {
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  transition: transform 0.3s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.radio-wrapper {
  display: flex;
  align-items: center;
}

.radio-label {
  margin-left: 1rem; 
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='checkbox'] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: rgb(37, 232, 128);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-label {
  font-size: 1.3rem;
}

.newsletter-wrapper{
  margin-top: 2rem;
  /* justify-content: center; */
}

.newsletter{
  font-size: 0.9rem;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox-label {
  margin-left: 0.5rem;
}

.checkbox-wrapper input[type='checkbox'] {
  margin-right: 5px;
}

.checkbox-small {
  font-size: 12px;
}

.checkbox-small label {
  display: inline-block;
  margin-left: 5px;
}

.buttonName {
  text-decoration: none;
  color: white;
}
