/* tutorialScreen.css */
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat');

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.lessons-list {
  margin-right: 2rem;
  padding: none;
}
.tutorial-screen {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fffdd2; 
  padding-bottom: 20px; 
}
  
  .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 200px;
    background-color: #40b93c;
    padding-top: 20px;
    overflow-y: visible;
  }

  .sidebar-button {
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ffffff; 
    color: #40b93c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 0.2rem gray inset;
  }
  
  .sidebar-button:hover {
    background-color: #fffdd2;
  }
  
  .video-container {
    flex: 1;
    max-width: calc(100% - 200px);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: visible;
  }
  
  .video-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #161a17;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 42.1875%; /* 16:9 aspect ratio */
    margin-bottom: 10px;
  }
  
  .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
  }
  
  .description {
    text-align: left;
    color: #333333; /* Dark gray */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .next-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    /* margin-left: %; */
  }

  .prev-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-right: 70%;
  }
  
  .previous-button,
  .next-button {
    padding: 10px 20px;
    background-color: #40b93c; /* Dark green */
    color: #ffffff; /* White */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .previous-button {
    order: 1;
  }
  
  .next-button {
    order: 3;
  }
  